{% extends 'base.html' %}
{% load staticfiles %}

{% block meta_desc %}
    <meta name="description" content="Trouvez les réponses à vos questions ou posez nous votre question, nous y répondrons rapidement!">
{% endblock %}


{% block body_block %}
<header style="background-image: url({% static 'Bootstrap/img/header6.jpg' %});min-height: 70%;">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Foire aux questions</h1>
            <br>
            <p>Trouvez les réponses à vos questions ou posez nous votre question, nous y répondrons rapidement!</p>
        </div>
    </div>
</header>
<br>
<article>
    <div class="container">
        <div class="row">
            {% if sauve %}
            <h3>
                <span class="label label-success">Votre question a bien été enregitrée!</span>
            </h3>
            {% endif %}
            <br/>
            <h2>Votre question concerne: </h2>
            <br/>
            <div class="col-lg-12 col-sm-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    {% for categorie in categories %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="{{ categorie.name_db }}">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ categorie.name_db }}" aria-expanded="false" aria-controls="collapse{{ categorie.name_db }}"> {{ categorie.nom }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ categorie.name_db }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ categorie.name_db }}">
                            <div class="panel-body">
                                <div class="col-lg-6 col-sm-6">
                                    <ul>
                                        {% for question in questions %}
                                            {% if question.categorie == categorie %}
                                        <li>
                                            <a role="button" data-toggle="collapse" href="#collapse{{ question.name_db }}" aria-expanded="false" aria-controls="collapse{{ question.name_db }}" >{{ question.question }}</a>
                                        </li>
                                        <div class="collapse" id="collapse{{ question.name_db }}">
                                            {{ question.reponse }}
                                        </div>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-sm-6 jumbotron">
                                    Articles relatifs à cette catégorie:

                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingform">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseform" aria-expanded="false" aria-controls="collapseform">
                                Vous n'avez pas trouvé réponse à votre question?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseform" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingform">
                            <div class="panel-body">
                                Posez nous votre question ici, nous tenterons d'y répondre dans les meilleures délais:
                                <form class="form-contact" action="/questions/" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                <fieldset class="form-group">
                                  <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                    <div class="">
                                      <input type="text" class="form-control"
                                        name="{{ field.name }}"
                                        id="id_{{ field.name }}"
                                        value="{{ field.value }}" >
                                        <p class="help-text">{{ field.help_text }} </p>
                                       </div>
                                </fieldset>
                                {% endfor %}
                                   <input type="submit" value="Envoyer"  class="btn btn-primary">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</article>
<hr class="primary"></hr>


{% endblock %}
