{% extends 'base.html' %}
{% load staticfiles %}

{% block meta_desc %}
    <meta name="description" content="Trouvez les réponses à vos questions ou posez nous votre question, nous y répondrons rapidement!">
{% endblock %}


{% block body_block %}
<header style="background-image: url({% static 'Bootstrap/img/header6.jpg' %});min-height: 70%;">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Foire aux questions</h1>
            <br>
            <p>Trouvez les réponses à vos questions ou posez nous votre question, nous y répondrons rapidement!</p>
        </div>
    </div>
</header>
<br>
<article>
    <div class="container">
        <div class="row">
            {% if sauve %}
            <h3>
                <span class="label label-success">Votre question a bien été enregitrée!</span>
            </h3>
            {% endif %}
            <br/>
            <h2>Votre question concerne: </h2>
            <br/>
            <div class="col-lg-12 col-sm-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">                              La maintenance
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="col-lg-6 col-sm-6">
                                    <ul>
                                        <li>
                                            <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >Quelles sont les pièces comprises au titre du contrat de maintenance</a>
                                        </li>
                                        <div class="collapse" id="collapseExample">
                                            Les pièces comprises au titre du contrat de maintenance sont blablabla cela dépend
                                            de votre contrat mais il faut savoir que c'est souvent lié à blablalba
                                        </div>
                                        <li>
                                            <a class="page-scroll" href="">Que signifient les références AFNOR</a>
                                        </li>
                                        <li>
                                            <a class="page-scroll" href="">Vétusté, obsolescence, quésako? </a>
                                        </li>
                                        <li>
                                            <a class="page-scroll" href="">En combien de temps le prestataires doit il intervenir lors d'une panne?</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-sm-6 jumbotron">
                                    Articles relatifs à cette catégorie:

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Les réglementations
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Les travaux à réaliser
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Vous n'avez pas trouvé réponse à votre question?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                Posez nous votre question ici, nous tenterons d'y répondre dans les meilleures délais:
                                <form class="form-contact" action="/questions/" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                <fieldset class="form-group">
                                  <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                    <div class="">
                                      <input type="text" class="form-control"
                                        name="{{ field.name }}"
                                        id="id_{{ field.name }}"
                                        value="{{ field.value }}" >
                                        <p class="help-text">{{ field.help_text }} </p>
                                       </div>
                                </fieldset>
                                {% endfor %}
                                   <input type="submit" value="Envoyer"  class="btn btn-primary">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
            </div>

        </div>
        <div class="row">

            {% for categorie in categories %}
            <div class="col-md-4">
                <h2>{{ categorie.nom }}</h2>
                <p>{{ categorie.description }}</p>
                <br>
                <div class ="articles">
                    {% for question in questions %}
                        {% if question.categorie == categorie %}
                            <p><a class="btn btn-default" href="/questions/{{ question.slug }}/" role="button">{{ questions.question }} »</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</article>
<hr class="primary"></hr>


{% endblock %}
