*.idea
*.pyc
*.DS_Store

.git/
.idea/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/secrets.json

bdd_dev

#/questions/migrations/*
#/prestataires/migrations/*
data_backup.json
