{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}
<header style="background-image: url({% static 'Bootstrap/img/header5.jpg' %});min-height: 70%;">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="color: #333;">{{ categorie.nom }}</h1>
            <br>
            <p style="color: #333;">Choisissez votre {{ categorie.nom }}</p>
            <a href="#choix" class="btn btn-default btn-xl page-scroll">Accéder</a>

        </div>
    </div>
</header>

{% if prestataires %}

<section id="liste">
    <div class="container">
        <div class="row">
            {{ categorie.texte_page|safe }}


        </div>
        <div class="row">
            <div class="btn-group btn-group-justified" role="group" data-toggle="buttons">
                <div class="btn-group" role="group">
                    <label class="btn btn-primary">
                        <input type="checkbox" name="options" id="1" autocomplete="off" checked> Maintenance
                    </label>
                </div>
                <div class="btn-group" role="group">
                    <label class="btn btn-primary">
                        <input type="checkbox" name="options" id="2" autocomplete="off" checked> Travaux
                    </label>
                </div>
                <div class="btn-group" role="group">
                    <label class="btn btn-primary">
                        <input type="checkbox" name="options" id="3" autocomplete="off" checked> Création
                    </label>
                </div>
            </div>
            <br/>
        </div>
        <div class="row">

            {% for prestataire in prestataires %}

            <div class="col-lg-2 col-sm-2">
                <a href="/prestataires/{{ prestataire.slug }}" class="portfolio-box">
                    {% if prestataire.logo %}
                    <img src="{{ prestataire.logo.url }}" class="img-responsive" alt="">
                    {% else %}
                    <img src="{{ categorie.logo_defaut.url }}" class="img-responsive" alt="">
                    {% endif %}
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ prestataire.nom }}
                            </div>
                            <div class="project-name">
                                {{ prestataire.description }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            {% endfor %}

        </div>
    </div>
</section>

{% endif %}

<hr class="primary">


{% endblock %}
