{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>Page non trouvée</title>
{% endblock %}



{% block body_block %}

<header style="background-image: url({% static 'img/404bis-min.jpg' %});">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Désolé la page demandée n'existe pas.</h1>

            <p>N'hésitez pas à chercher dans nos sections ce qui vous intéresse.</p>
            <a href="/" class="btn btn-primary btn-xl page-scroll">Retour à l'accueil</a>
        </div>
    </div>
</header>

{% endblock %}

{% block footer_block %}
{% endblock %}
