{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Tout savoir sur l'ascenseur en copropriété</h1>

            <p>Des informations et conseils pour mieux comprendre les enjeux de l'ascenseur en copropriété</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">En savoir plus</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Un site pour clarifier les enjeux de l'ascenseur en copropriété</h2>
                <hr class="light">
                <p class="text-faded">L'ascenseur est devenu progressivement un outil indispensable de mobilité pour beaucoup de résidents de copropriété. Ce site a pour but de vous aider à maîtriser ce domaine parfois complexe, et souvent méconnu, afin de vous aider à prendre les bonnes décisions. </p>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Vous y trouverez</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Des articles thèmatiques</h3>
                    <p class="text-muted">Fonctionnement, maintenance, travaux, réglementation etc. Vous y trouverez toutes les informations utiles pour mieux comprendre les enjeux liés à votre ascenseur.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Un espace pour poser vos questions </h3>
                    <p class="text-muted">Nos experts feront de leur mieux pour y répondre.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-magnet wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Un choix de prestataires</h3>
                    <p class="text-muted">Bureau de contrôle, d'étude, ou ascensoriste, obtenez gratuitement et sans engagement plusieurs devis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{% static 'Bootstrap/img/portfolio/palier_ascenseur.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                L'ascenseur
                            </div>
                            <div class="project-name">
                                Comment fonctionne un ascenseur, quels en sont les organes majeurs, quelles spécificités?
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{% static 'Bootstrap/img/portfolio/technicien2.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Maintenance
                            </div>
                            <div class="project-name">
                                En quoi consiste la maintenance d'un ascenseur? Comment choisir son contrat?
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{% static 'Bootstrap/img/portfolio/legislation.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Réglementation
                            </div>
                            <div class="project-name">
                                SAE, accessibilité, contrôle technique quinquennal.. quelles sont vos obligations, et celles de votre ascensoriste?
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>

<aside class="bg-primary">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Obtenir une prestation d'audit, conseil, ou des propositions commerciales des ascensoristes</h2>
            <a href="{% url 'accueil_prestataires' %}" class="btn btn-default btn-xl">Trouvez vos prestataires</a>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Des questions ou remarques?</h2>
                <hr class="primary">
                <p>N'hésitez pas à nous contacter, nous prendrons en compte vos demandes pour rendre ce site le plus utile possible</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">contact@ascenseur-copropriete.fr</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer_block %}
{% endblock %}
