{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>{{ nom_article }}</title>
{% endblock %}

{% block meta_desc %}
    <meta name="description" content="{{ meta_desc }}">
{% endblock %}

{% block body_block %}
<header style="background-image: url({% static 'Bootstrap/img/header2.jpg' %});min-height: 70%;">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Les dossiers thématiques</h1>
            <br>
            <p>Des informations et conseils pour mieux comprendre les enjeux de l'ascenseur en copropriété</p>
        </div>
    </div>
</header>
<article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <br><br><br>
                    {% if not nom_article %}

                    <p>Désolé mais nous n'avons pas trouvé votre article à cette URL!</p>
                    <br/>

                    <p><a class="btn btn-default" href="/articles/" role="button">Retour aux dossiers thématiques »</a></p>

                    {% else %}
                    <h2>{{ nom_article }}</h2>
                    {{ body_article|safe }}
                    {% endif %}

                </div>
        </div>
    </div>
</article>

{% endblock %}
