{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}
<header style="background-image: url({% static 'Bootstrap/img/header2.jpg' %});min-height: 70%;">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Les dossiers thématiques</h1>
            <br>
            <p>Des informations et conseils pour mieux comprendre les enjeux de l'ascenseur en copropriété</p>
        </div>
    </div>
</header>
<br>
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>L'ascenseur</h2>
                <p>Mieux vaut d'abord savoir de quoi l'on parle, voici des articles sur le fonctionnement des ascenseurs pour que cela ne soit plus obscur pour vous </p>
                <p><a class="btn btn-default" href="/articles/page-dexemple/" role="button">Accéder à l'article »</a></p>
            </div>
            <div class="col-md-4">
                <h2>La maintenance</h2>
                <p>En quoi consiste une prestation de maintenance? Quelles questions se poser pour choisir son type de contrat, voire son ascensoriste? </p>
                <p><a class="btn btn-default" href="{% url 'article_exemple' %}" role="button">Accéder à l'article »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Les travaux</h2>
                <p>Votre ascenseur nécessite t-il des travaux? Si oui, comment les prioriser et quelles erreurs éviter?</p>
                <p><a class="btn btn-default" href="{% url 'article_exemple' %}" role="button">Accéder à l'article »</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Focus particuliers</h2>
                <p>Focus sur la téléalarme, sur les solutions de sécurisation, sur l'accessibilité, sur l'esthétique, sur les bureaux d'étude etc</p>
                <p><a class="btn btn-default" href="{% url 'article_exemple' %}" role="button">Accéder à l'article »</a></p>
            </div>
        </div>
    </div>
</article>
<hr class="primary"></hr>


{% endblock %}
