{% extends 'base.html' %}
{% load staticfiles %}

{% block meta_desc %}
    <meta name="description" content="Toutes les informations concernant l'ascenseur en copropriété.
    Réglementations, fonctionnement, contrat de maintenance, travaux et bien plus.">
{% endblock %}


{% block body_block %}
<header style="background-image: url({% static 'Bootstrap/img/header2.jpg' %});min-height: 70%;">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Les dossiers thématiques</h1>
            <br>
            <p>Des informations et conseils pour mieux comprendre les enjeux de l'ascenseur en copropriété</p>
        </div>
    </div>
</header>
<br>
<section id="article">
    <div class="container">
        <div class="row">

            {% for categorie in categories %}
            <div class="col-md-4">
                <h2>{{ categorie.nom }}</h2>
                <p>{{ categorie.description }}</p>
                <br>
                <div class ="articles">
                    {% for article in articles %}
                        {% if article.categorie == categorie %}
                        <div>
                            <button class="btn btn-default" href="/articles/{{ article.slug }}/" role="button">{{ article.titre_court }} »</button>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</section>
<hr class="primary"></hr>


{% endblock %}
